body{
    background-color: lightgray;
}


.result{
    background-color: #d3d3d3;
    height: 4.375em;
    width: 20.5625em;
    font-size: large;
}

.memory{
    background-color: #e7e7e7;
    width:5em;
    font-weight: 600;
}
.operator{
    background-color: #e7e7e7;
    width: 5em;
    height: 2.5em;
    font-weight: 600;
    font-size: large;
}

.numbers{
    background-color: white;
    width: 5em;
    height: 2.5em;
    font-weight: 900;
    font-size: large;
}