h1, h2, h3{
    color:purple;
    /*font-size: 1.3em;*/
}

h1{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
    /*margin:0 auto;*/
}

th, td{
    text-align:center;
}

.time{
    color:red;
    font-size: 0.7em;
}
main{
    font-family: Helvetica, sans-serif;
    
}

#protag{
    float: left;
    margin-left: 100px;
    border: 2px solid lightsteelblue;
    width: 10%;
}

#ab{
    background-color: lightyellow;
}

#banda{
    float:right;
    
    width:40%;
}

li{
    margin-bottom: 10px;
}

p{
    text-align: justify;
}

.wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
        "martyTxt martyTxt martyTxt martyImg"
        "docImg docTxt docTxt docTxt"
        "georgeTxt georgeTxt georgeTxt georgeImg"
        "lorraineImg lorraineTxt lorraineTxt lorraineTxt" 
        "biffTxt biffTxt biffTxt biffImg";
}

.marty-des{
    grid-area:martyTxt;
}

.marty{
    grid-area:martyImg;
    height:80%;
    height:auto;
}

.doc-des{
    grid-area:docTxt;
}

.doc{
    grid-area:docImg;
    
}

.george-des{
    grid-area:georgeTxt;
}

.george{
    grid-area:georgeImg;
    width:80%;
    height:auto;
}

.lorraine-des{
    grid-area:lorraineTxt;
}

.lorraine{
    grid-area:lorraineImg;
    width:80%;
    height:auto;
}

.biff-des{
    grid-area:biffTxt;
}

.biff{
    grid-area:biffImg;
    
}

nav{
    overflow:hidden;
    background-color: aqua;
}

body{
    font-family: Helvetica, sans-serif;
}


