h1, h2, h3{
    color:purple;
}

h1{
    text-align: center;
}

/* Formato de tabla */
table, th, td{
    border: 1px solid black;
    /*margin:0 auto;*/
}

th, td{
    text-align:center;
    background-color: azure;
}

/* Color del tiempo en la tabla de musica */
.time{
    color:red;
    font-size: 0.7em;
}
main{
    font-family: Helvetica, sans-serif;
    
}

#ab{
    background-color: lightyellow;
}

li{
    margin-bottom: 10px;
}

p{
    text-align: justify;
}

/* GRID DE PERSONAJES*/
.wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
        "martyTxt martyTxt martyTxt martyImg"
        "docImg docTxt docTxt docTxt"
        "georgeTxt georgeTxt georgeTxt georgeImg"
        "lorraineImg lorraineTxt lorraineTxt lorraineTxt" 
        "biffTxt biffTxt biffTxt biffImg";
}

.marty-des{
    grid-area:martyTxt;
}

.marty{
    grid-area:martyImg;
    height:350px;
    width:auto;
}

.doc-des{
    grid-area:docTxt;
}

.doc{
    grid-area:docImg;
    height:auto;
    width:450px;
}

.george-des{
    grid-area:georgeTxt;
}

.george{
    grid-area:georgeImg;
    width:400px;
    height:350px;
}

.lorraine-des{
    grid-area:lorraineTxt;
}

.lorraine{
    grid-area:lorraineImg;
    width:400px;
    height:auto;
}

.biff-des{
    grid-area:biffTxt;
}

.biff{
    grid-area:biffImg;
    height:350px;
    width:auto;
}
  
/* FIN DE GRID */

nav{
    overflow:hidden;
    background-color: lavender;
    text-align: center;
    height:50px;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: darkgrey;
}

footer{
    height:50px;
    background-color: lightslategray;
    text-align: center;
    font-size: 14px;
}
